/* 
 * GitHub Repository Phishing Alert Appeal & Project Verification
 이 페이지는 깃허브에서 발생한 피싱 경고 오탐지(False Positive)를 해명하고, 해당 코드가 순수한 학습 및 포트폴리오용임을 증명하기 위해 작성되었습니다.
  This CSS is part of a student project. 
  Any resemblance to real-world commercial sites is purely for design practice.
*/
@font-face{
  font-family: 'DejaVuSansMono';
  src:url('../fonts/DejaVuSansMono.ttf')
}
@font-face{
  font-family: 'Paperlogy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
}
/* -------------------------------------------------------------------------------------------------- 1. intro 시작 */
body {}
body > * {min-width: 1680px;}
header {
  position: fixed; width: 100vw; height: 80px;
  border-bottom: 1px solid #222; background:#fff;
}
header #gnb {
  display: flex; justify-content: end; align-items: end; 
}
header #gnb li {
  position: relative; bottom: -19px; right: 80px;
  margin-left: -50px;
  width: 230px; height: 60px;
}

header #gnb li::before, header #gnb li::after {
  width: 65px; height: 100%;
  content: ''; 
  position: absolute; top: 0;
}
header #gnb li::before {left: 0; background-image: url(../images/gnb.svg);}
header #gnb li::after {right: 0; background-image: url(../images/gnb.svg); transform: scaleX(-1);}
header #gnb li a {
  display: block; width: 100px; height: 100%; margin: 0 65px;
  text-align: center; line-height: 60px;
  font-family: 'DejaVuSansMono';
  color: #aaa; border-top: 1px solid #aaa;
  background: #fff;
}
header #gnb li:nth-child(1) {z-index: 999;}
header #gnb li:nth-child(2) {z-index: 998;}
header #gnb li:nth-child(3) {z-index: 997;}
/* gnb 탭이 active 됐을 때 */
header #gnb .active {bottom: -20px;; z-index: 999;}
header #gnb .active::before {left: 0; background-image: url(../images/gnb_active.svg);}
header #gnb .active::after {right: 0; background-image: url(../images/gnb_active.svg); transform: scaleX(-1);}
header #gnb .active a {border-top: 1px solid #222; color: #222;}

/* ----------------------------------------------------------------------------------------------------- */
.container, 
.project {
  width: 100vw; height: 90vh;
  border-bottom: 1px solid #eee;
}
#intro {}
#intro .intro_wrap {text-align: center; padding: 35vh;}
#intro .intro_wrap h1 {font-size: 7.50rem; font-family: 'Paperlogy'; margin-bottom: 40px; color: #333;}
#intro .intro_wrap .me {display: flex; justify-content: center; align-items: center; gap: 8px;}
#intro .intro_wrap .me p {font-family: 'DejaVuSansMono'; font-size: 1.13rem; color: #555;}
#intro .intro_wrap .me span {width: 70px; height: 1px; background: #ddd;}
#profile {
  display: flex; 
  width: 1440px; height: 100%;  margin:  0 auto; 
  background: yellow; padding-top: 120px;
}
#profile .introduction {
  display: flex; flex-flow: column nowrap; justify-content: space-between;
}
#profile .introduction .text {}
#profile .introduction .text > * {margin-bottom: 40px;}
#profile .introduction .text p {font-family: 'DejaVuSansMono'; font-size: 1.13rem; color: #555;}
#profile .introduction .text h1 {font-size: 1.50rem; color: #191919; line-height: 1.7; }
#profile .introduction .text h1+p {font-size: 0.88rem; color: #aaa; line-height: 1.7;}
#profile .introduction .photo {
  width: 300px; height: 300px;
}
#profile .introduction .photo img {width: 100%;}
#profile .my_info {}
#profile .my_info .info{}
#profile .my_info .info h1 {}
#profile .my_info .info p {}
#profile .my_info .info a {}
#profile .my_info .information {}
#profile .my_info .information h1 {}
#profile .my_info .information p {}
#profile .my_info .information a {}
#profile .my_info .career {}
#profile .my_info .career h1 {}
#profile .my_info .career p {}
#profile .my_info .certificate {}
#profile .my_info .certificate h1 {}
#profile .my_info .certificate p {}
#profile .my_info .education {}
#profile .my_info .education h1 {}
#profile .my_info .education p {}
#profile .my_info .experience {}
#profile .my_info .experience h1 {}
#profile .my_info .experience p {}
#profile .my_info .my_skills {}
#profile .my_info .my_skills img {}
.project_wrap {}
.project_wrap .view {}
.project_wrap .view p {}
.project_wrap .view img {}
.project_wrap .swiper {}
.project_wrap .swiper .swiper-wrapper {}
.project_wrap .swiper .swiper-wrapper .swiper-slide {}
.project_wrap .swiper .swiper-wrapper .swiper-slide a {}
.project_wrap .swiper .swiper-wrapper .swiper-slide a h1 {}
.project_wrap .swiper .swiper-wrapper .swiper-slide a p {}
.project_wrap .swiper .swiper-wrapper .swiper-slide a p span {}
.project_wrap .project_swiper {}
.project_wrap .project_swiper .swiper-slide {}
.project_wrap .project_swiper .swiper-slide .slide1 {}
.project_wrap .project_swiper .swiper-slide .slide2 {}
.project_wrap .project_swiper .swiper-slide .slide3 {}
.project_wrap .project_swiper .swiper-slide .slide4 {}
.project_wrap .project_swiper .swiper-slide .slide5 {}
.project_wrap .project_swiper .swiper-slide .slide6 {}
.project_wrap .project_swiper .swiper-slide .slide7 {}
.project_wrap .scroll {}

/* 공통 프로젝트 */
.project {}
.project .project_intro .title {}
.project .project_intro .title .type {}
.project .project_intro .title .type .main_title {}
.project .project_intro .title .type .main_title .brand {}
.project .project_intro .title .type .main_title .desktop {}
.project .project_intro .title .type .main_title .movile {}
.project .project_intro .title .type .ko_title {}
.project .project_intro .title .type .en_title {}
.project .project_intro .title .type .en_title {}
.project .project_intro .title .type .responsive {}
.project .project_intro dl {}
.project .project_intro dl dt {}
.project .project_intro dl dd {}
.project .project_intro .tools {}
.project .project_intro .tools h1 {}
.project .project_intro .tools .tools_badge img {}
.project .project_thumbnail {}
.project .project_thumbnail .link {}
.project .project_thumbnail .link a {}

/* project1 - toun28 */
.project1 .project_intro .title {}
.project1 .project_intro .title .type {}
.project1 .project_intro .title .type .main_title {}
.project1 .project_intro .title .type .main_title .brand {}
.project1 .project_intro .title .type .main_title .desktop {}
.project1 .project_intro .title .type .main_title .movile {}
.project1 .project_intro .title .type .ko_title {}
.project1 .project_intro .title .type .en_title {}
.project1 .project_intro .title .type .en_title {}
.project1 .project_intro .title .type .responsive {}
.project1 .project_intro dl {}
.project1 .project_intro dl dt {}
.project1 .project_intro dl dd {}
.project1 .project_intro .tools {}
.project1 .project_intro .tools h1 {}
.project1 .project_intro .tools .tools_badge img {}
.project1 .project_thumbnail {}
.project1 .project_thumbnail .link {}
.project1 .project_thumbnail .link a {}

/* project2 - cubee */
.project2 .project_intro .title {}
.project2 .project_intro .title .type {}
.project2 .project_intro .title .type .main_title {}
.project2 .project_intro .title .type .main_title .brand {}
.project2 .project_intro .title .type .main_title .desktop {}
.project2 .project_intro .title .type .main_title .movile {}
.project2 .project_intro .title .type .ko_title {}
.project2 .project_intro .title .type .en_title {}
.project2 .project_intro .title .type .en_title {}
.project2 .project_intro .title .type .responsive {}
.project2 .project_intro dl {}
.project2 .project_intro dl dt {}
.project2 .project_intro dl dd {}
.project2 .project_intro .tools {}
.project2 .project_intro .tools h1 {}
.project2 .project_intro .tools .tools_badge img {}
.project2 .project_thumbnail {}
.project2 .project_thumbnail .link {}
.project2 .project_thumbnail .link a {}

.project3 {}
.project3 .title {}
.project3 .title p {}
.project3 .title img {}/* 사이즈 지우기 */
.project3 .swiper {}
.project3 .swiper .swiper-wrapper {}
.project3 .swiper .swiper-wrapper .swiper-slide {}
.project3 .swiper .swiper-wrapper .swiper-slide .thumbnail {}
.project3 .swiper .swiper-wrapper .swiper-slide .thumbnail img {}
.project3 .graphic_siwper {}
.project3 .graphic_siwper .swiper-wrapper {}
.project3 .graphic_siwper .swiper-wrapper .slide1 {}
.project3 .graphic_siwper .swiper-wrapper .slide2 {}
.project3 .graphic_siwper .swiper-wrapper .slide3 {}
.project3 .graphic_siwper .swiper-wrapper .slide4 {}
.project3 .graphic_siwper .swiper-wrapper .slide5 {}
.project3 .graphic_siwper .swiper-wrapper .slide6 {}
.project3 .graphic_siwper .swiper-wrapper .slide7 {}
.project3 .scroll {}
.project3 .graphic_popup_bg {}
.project3 .graphic_popup_bg .graphic_contents {}
.project3 .graphic_popup_bg .graphic_contents .popup_img {}
.project3 .graphic_popup_bg .graphic_contents .popup_img img {}
.project3 .graphic_popup_bg .graphic_contents .popup_info {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .popup_title {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .popup_title h1 {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .popup_title .info {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .popup_title .info .period {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .popup_title .info .photoshop {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .popup_title .info .illustration {}
.project3 .graphic_popup_bg .graphic_contents .popup_info .plan {}
.project4 {}
.project4 .project_intro {}
.project4 .project_intro .title {}
.project4 .project_intro .title {}
.project4 .project_intro .title .type {}
.project4 .project_intro .title .type .main_title {}
.project4 .project_intro .title .type .main_title .brand {}
.project4 .project_intro .title .type .main_title .movile {}
.project4 .project_intro .title .ko_title {}
.project4 .project_intro .title .en_title {}
.project4 .project_intro .title .responsive {}
.project4 .project_intro dl {}
.project4 .project_intro dl dt {}
.project4 .project_intro .tools {}
.project4 .project_intro .tools h1 {}
.project4 .project_intro .tools .tools_badge {}
.project4 .project_intro .tools .tools_badge img {}
.project4 .project_thumbnail {}
.project4 .project_thumbnail .link {}
.project4 .project_thumbnail .link a {}
.project5 {}
.project5 .project_intro {}
.project5 .project_intro .title {}
.project5 .project_intro .title .type {}
.project5 .project_intro .title .main_title {}
.project5 .project_intro .title .main_title .brand {}
.project5 .project_intro .title .main_title .movile {}
.project5 .project_intro .title .ko_title {}
.project5 .project_intro .title .en_title {}
.project5 .project_intro .title .responsive {}
.project5 .project_intro dl {}
.project5 .project_intro dl dt {}
.project5 .project_intro dl dd {}
.project5 .project_intro .tools {}
.project5 .project_intro .tools h1 {}
.project5 .project_intro .tools .tools_badge {}
.project5 .project_intro .tools .tools_badge img {}
.project5 .project_thumbnail {}
.project5 .project_thumbnail .link {}
.project5 .project_thumbnail .link a {}
.project6 {}
.project6 .project_intro {}
.project6 .project_intro .title {}
.project6 .project_intro .title .type {}
.project6 .project_intro .title .main_title {}
.project6 .project_intro .title .main_title .brand {}
.project6 .project_intro .title .main_title .movile {}
.project6 .project_intro .ko_title {}
.project6 .project_intro .en_title {}
.project6 .project_intro .responsive {}
.project6 .project_intro dl {}
.project6 .project_intro dl dt {}
.project6 .project_intro dl dd {}
.project6 .project_intro .tools {}
.project6 .project_intro .tools h1 {}
.project6 .project_intro .tools .project_thumbnail {}
.project6 .project_intro .tools .project_thumbnail img {}
.project6 .project_thumbnail {}
.project6 .project_thumbnail .link {}
.project6 .project_thumbnail .link a {}
.project7 {}
.project7 .view_text {}
.project7 .view_text > p {}
.project7 .view_text .veiw {}
.project7 .view_text .veiw p {}
.project7 .view_text .veiw img {}
.project7 .swiper {}
.project7 .swiper .swiper-wrapper {}
.project7 .swiper .swiper-wrapper .swiper-slide {}
.project7 .swiper .swiper-wrapper .swiper-slide a {}
.project7 .swiper .swiper-wrapper .swiper-slide .thumbnail {}
.project7 .swiper .swiper-wrapper .swiper-slide .thumbnail img {}
.project7 .swiper .swiper-wrapper .swiper-slide .title {}
.project7 .swiper .swiper-wrapper .swiper-slide .title h1 {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .tools {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .tools span {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .tools .period {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .tools .prize {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .tools .premier {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .tools .effect {}
.project7 .swiper .swiper-wrapper .swiper-slide .title .plan {}